@tailwind base;
@tailwind components;
@tailwind utilities;

form {
    margin: auto;
    /* width: 50%; */
}

* {
    font-family: 'Inter Variable', sans-serif;
}

*:focus {
    outline: none;
}

.focus\:ring-cyan-300:focus {
    --tw-ring-opacity: 0 !important;
}

body {
    background-color: #205179
}